
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LecturerCourse</title>
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/styles/navbar.css" rel="stylesheet" />

</head>
<body>
    <div>
        <div class="navbar">
            <a href="/Account/LecturerHomePage" class="Button">Home</a>
            <a href="/HomePage/LecturerSchedule" class="Button">Schedule</a>
            <div class="dropdown">
                <button class="dropbtn">
                    More
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/HomePage/LecturerExams" class="Button">Exams</a>
                    <a href="/HomePage/LecturerCourse" class="Button">Course</a>
                    <a href="/HomePage/LecturerChat" class="Button">Chat</a>
                </div>

            </div>
        </div>
        <h1> "fhghg"</h1>
    </div>

</body>
</html>